*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: #eddbdb;
  --clr-acc: #0ff80b;

  --cell-size: 6em;
  --mark-size: calc(var(--cell-size) * 0.55);
  --mark-width: calc(var(--mark-size) * 0.15);

  --cursor-size: 2em;
  --cursor-width: 0.3em;
  --cursor-half: 1em;

  /* --cursor-width: calc(var(--cursor-size) * 0.15);
  --cursor-half: calc(((var(--cursor-size) * 0.5) - var(--cursor-width))); */
}

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.containter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  place-items: center;
  /* cursor: none; */
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid rgba(0, 0, 0, 0.729);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* transition: background-color, 1s, ease-in; */
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after {
  content: " ";
  position: absolute;
  width: var(--mark-width);
  height: var(--mark-size);
  background-color: black;
}

.cell.x::before {
  rotate: 45deg;
}

.cell.x::after {
  rotate: -45deg;
}

.cell.o::before,
.cell.o::after {
  content: " ";
  position: absolute;
  border-radius: 50%;

  width: var(--mark-size);
  height: var(--mark-size);
  border: var(--mark-width) solid black;
}

.custom-cursor {
  position: fixed;
  width: var(--cursor-size);
}

.custom-cursor.x {
  display: none;
}

.custom-cursor.x.show {
  display: block;
}

.custom-cursor.o {
  display: none;
}

.custom-cursor.o.show {
  display: block;
}

.custom-cursor.x::before,
.custom-cursor.x::after,
.winner-player .x::before,
.winner-player .x::after {
  content: " ";
  position: absolute;
  width: var(--cursor-width);
  height: var(--cursor-size);
  top: calc(var(--cursor-half) * -1);
  background-color: rgba(0, 0, 0, 0.626);
}

.custom-cursor.x::before,
.winner-player .x::before {
  rotate: 45deg;
}

.custom-cursor.x::after,
.winner-player .x::after {
  rotate: -45deg;
}

.custom-cursor.o,
.winner-player .o {
  width: var(--cursor-size);
  height: var(--cursor-size);
  border: var(--cursor-width) solid rgba(0, 0, 0, 0.626);
  border-radius: 50%;
  translate: -50% -50%;
}

.cell {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.cell.win {
  background-color: var(--clr-acc);
}

.msg-div,
.restart-btn {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 1.5s;
}

.msg-div.show,
.restart-btn.show {
  opacity: 1;
}

.msg-div {
  top: 4rem;
  font-size: 1rem;
}

.restart-btn {
  bottom: 4rem;
  padding: 0.2em 0.4em;
  width: min-content;
  margin: auto;
  background-color: var(--clr-acc);
}

.restart-btn img {
  width: 18px;
  animation: imgAnime 0.8s infinite alternate;
}

@keyframes imgAnime {
  0% {
    scale: 0.6;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1.2;
  }
}

.winner-player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.winner-player .x {
  margin-right: 2em;
}

.winner-player .x::before,
.winner-player .x::after {
  background-color: var(--clr-acc);
  translate: 10px 19px;
}

.winner-player .o {
  border: var(--cursor-width) solid var(--clr-acc);
  translate: 10% 5%;
  margin-right: 0.5rem;
}

.github-signature {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
  font-size: 0.5rem;
}

.github-signature img {
  width: 1.5rem;
  margin-left: 5px;
}
